@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
body, body * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 1300px) {
  body .base-row div.base-column {
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
  }
}

@media (max-width: 1024px) {
  body .base-row div.base-column {
    width: 600px;
    margin-left: calc((100% - 600px) / 2);
  }
  body .base-row div.base-column .services-wrapper::before {
    bottom: 35%;
  }
  body .base-row div.base-column .qoute-wrapper div:nth-of-type(1) {
    width: calc(calc(100% / 12) * 5);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .base-row div.base-column .qoute-wrapper div:nth-of-type(2) {
    width: calc(calc(100% / 12) * 7);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .base-row div.base-column .teams-wrapper .social-link {
    width: 2.5rem;
    height: 2.5rem;
  }
  body .base-row div.base-column .teams-wrapper .person {
    height: 20rem;
  }
  body .base-row div.base-column .teams-wrapper img {
    -o-object-position: top center;
       object-position: top center;
  }
  body .base-row div.base-column .logos-wrapper .logo {
    width: calc(calc(100% / 12) * 3.3);
    margin-left: calc(calc(100% / 12) * 1);
  }
  body .base-row div.base-column .logos-wrapper .logo:nth-of-type(3n+1) {
    margin-left: 0;
  }
  body .hero-row h1 {
    font-size: 7rem;
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .hero-row nav > * {
    margin-left: 1.5rem;
  }
  body .stories-wrapper div {
    width: 80%;
    margin-left: 10%;
  }
  body .section-title h2 + p {
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
  }
}

@media (max-width: 800px) {
  body .base-row div.base-column {
    width: 500px;
    margin-left: calc((100% - 500px) / 2);
  }
  body .base-row div.base-column .section-title + img[alt="iphone"] {
    height: 58%;
  }
  body .base-row div.base-column .services-wrapper div {
    width: calc(calc(100% / 12) * 6);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .base-row div.base-column .services-wrapper::before {
    display: none;
  }
  body .base-row div.base-column .features-wrapper {
    height: 300px;
  }
  body .base-row div.base-column .features-wrapper img {
    width: calc(calc(100% / 12) * 10);
    margin-left: calc(calc(100% / 12) * 1);
  }
  body .base-row div.base-column .teams-wrapper {
    margin-bottom: 0;
  }
  body .base-row div.base-column .teams-wrapper .social-link {
    width: 2.5rem;
    height: 2.5rem;
  }
  body .base-row div.base-column .teams-wrapper .person {
    width: calc(calc(100% / 12) * 10);
    margin-left: calc(calc(100% / 12) * 1);
    margin-bottom: 7rem;
  }
  body .base-row div.base-column .teams-wrapper img {
    -o-object-position: top center;
       object-position: top center;
  }
  body .hero-row nav {
    display: none;
  }
  body .hero-row .buterbrodas {
    display: inline-block;
  }
  body .hero-row .welcome-wrapper p {
    font-size: 4.5rem;
  }
  body .hero-row .welcome-wrapper h1 {
    font-size: 6rem;
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .hero-row .pages-wrapper div {
    width: calc(calc(100% / 12) * 5.5);
    margin-left: calc(calc(100% / 12) * 1);
    margin-bottom: 4rem;
  }
  body .hero-row .pages-wrapper div:nth-of-type(odd) {
    margin-left: 0;
  }
  body .facts-row .base-column .number-wrapper {
    font-size: 0.8rem;
  }
  body .facts-row .base-column .number-wrapper p:first-child {
    font-size: 2rem;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  body .base-row div.base-column {
    width: 400px;
    margin-left: calc(50% - 200px);
  }
  body .base-row div.base-column .section-title + img[alt="iphone"] {
    height: 54%;
    left: 52%;
  }
  body .base-row div.base-column .services-wrapper div {
    width: calc(calc(100% / 12) * 10);
    margin-left: calc(calc(100% / 12) * 1);
  }
  body .base-row div.base-column .services-wrapper::before {
    display: none;
  }
  body .base-row div.base-column .service2-wrapper {
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
    margin-top: 360px;
  }
  body .base-row div.base-column .service2-wrapper .service .big-image {
    padding: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    top: -1rem;
  }
  body .base-row div.base-column .qoute-wrapper div:nth-of-type(1) {
    width: calc(calc(100% / 12) * 5);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .base-row div.base-column .qoute-wrapper div:nth-of-type(2) {
    margin-top: 3rem;
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .base-row div.base-column .logos-wrapper .logo {
    width: calc(calc(100% / 12) * 5);
    margin-left: calc(calc(100% / 12) * 1);
  }
  body .base-row div.base-column .logos-wrapper .logo:nth-of-type(4n) {
    width: calc(calc(100% / 12) * 5);
    margin-left: calc(calc(100% / 12) * 1);
  }
  body .base-row div.base-column .logos-wrapper .logo:nth-of-type(odd) {
    margin-left: 0;
  }
  body .hero-row .welcome-wrapper p {
    font-size: 4rem;
  }
  body .hero-row .welcome-wrapper h1 {
    font-size: 4rem;
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .hero-row .pages-wrapper div {
    margin-left: 0;
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
    margin-bottom: 4rem;
  }
  body .facts-row .base-column .number-wrapper {
    font-size: 1rem;
    width: calc(calc(100% / 12) * 8);
    margin-left: calc(calc(100% / 12) * 2);
    margin-bottom: 2rem;
  }
  body .facts-row .base-column .number-wrapper p:first-child {
    font-size: 4rem;
    font-weight: bold;
  }
  .section-title {
    width: calc(calc(100% / 12) * 10);
    margin-left: calc(calc(100% / 12) * 1);
  }
}

@media (max-width: 425px) {
  body .base-row div.base-column {
    width: calc(calc(100% / 12) * 10);
    margin-left: calc(calc(100% / 12) * 1);
  }
  body .hero-row .welcome-wrapper p {
    font-size: 4rem;
  }
  body .hero-row .welcome-wrapper h1 {
    font-size: 4rem;
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
  }
  body .hero-row .pages-wrapper {
    margin-top: 7rem;
  }
  body .hero-row .pages-wrapper div {
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
    margin-bottom: 4rem;
    margin-left: 0;
  }
  body .teams-wrapper .social-link {
    width: 2.5rem;
    height: 2.5rem;
  }
  body .teams-wrapper .person {
    width: calc(calc(100% / 12) * 10);
    margin-left: calc(calc(100% / 12) * 1);
    margin-bottom: 7rem;
  }
  body .teams-wrapper img {
    -o-object-position: right;
       object-position: right;
  }
  body .stories-wrapper div {
    width: 260px;
    margin-left: calc(50% - 130px);
  }
  .section-title {
    width: calc(calc(100% / 12) * 12);
    margin-left: calc(calc(100% / 12) * 0);
  }
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  overflow: hidden scroll;
}

body .hero-row {
  width: 100%;
  background-image: url(../images/hero/MoGo_FREE_Template_by_Laaqiq_01.jpg), -webkit-gradient(linear, left top, left bottom, from(#ea8283), to(#efd289));
  background-image: url(../images/hero/MoGo_FREE_Template_by_Laaqiq_01.jpg), linear-gradient(#ea8283, #efd289);
  background-size: auto;
  background-position: top;
  background-repeat: no-repeat;
}

body .hero-row .hero-column {
  padding: 1rem 0;
  width: 1200px;
  margin-left: calc((100% - 1200px) / 2);
  position: relative;
}

body .base-row {
  overflow: hidden;
}

body .base-row .base-column {
  padding: 1rem 0;
  width: 1200px;
  margin-left: calc((100% - 1200px) / 2);
  position: relative;
}

.section-title {
  margin-top: 5rem;
  text-align: center;
  color: #333;
  position: relative;
}

.section-title p:first-child {
  font-family: "Kaushan Script", cursive;
  font-size: 1.5rem;
  color: #333;
}

.section-title h2 {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  text-transform: uppercase;
  margin-bottom: 6rem;
}

.section-title h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.2rem;
  margin-top: 2.6rem;
  margin-bottom: 2.6rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #f38181;
}

.section-title h2 + p {
  font-family: "Roboto", sans-serif;
  color: #999;
  margin-bottom: 6rem;
  width: calc(calc(100% / 12) * 8);
  margin-left: calc(calc(100% / 12) * 2);
}

.top-bar {
  font-size: 0;
  margin-bottom: 6rem;
}

.top-bar * {
  display: inline-block;
}

.top-bar div {
  font-size: 2.14rem;
  font-weight: bold;
  color: #fff;
  width: 20%;
}

.top-bar nav {
  width: 80%;
  text-align: right;
}

.top-bar nav > * {
  margin-left: 2.5rem;
}

.top-bar nav a {
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.top-bar nav a:first-child {
  margin-left: 0;
}

.top-bar nav a img {
  width: 1rem;
  height: 1rem;
}

.top-bar nav a:hover,
.top-bar nav a[data-id='1'] {
  border-bottom: 0.15rem solid #fce38a;
}

.top-bar .buterbrodas {
  display: none;
  text-align: right;
  vertical-align: top;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
}

.top-bar .buterbrodas svg {
  fill: #fff;
  width: 2.5rem;
  height: 100%;
}

.welcome-wrapper {
  text-align: center;
}

.welcome-wrapper p {
  color: #fff;
  font-family: "Kaushan Script", cursive;
  font-size: 5.1rem;
}

.welcome-wrapper h1 {
  text-transform: uppercase;
  font-size: 10rem;
  color: #fff;
  width: calc(calc(100% / 12) * 10);
  margin-left: calc(calc(100% / 12) * 1);
  font-weight: bold;
  text-align: center;
  margin-bottom: 8rem;
  position: relative;
}

.welcome-wrapper h1::after {
  content: '';
  display: block;
  width: 4rem;
  height: 0.2rem;
  position: absolute;
  background-color: white;
  margin-top: 3rem;
  margin-left: calc(50% - 2rem);
}

.welcome-wrapper a {
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  padding: 0.6rem 1.4rem;
  border: 0.2rem solid #fff;
  white-space: nowrap;
}

.welcome-wrapper a:hover {
  background-color: #efd889;
}

.pages-wrapper {
  width: 100%;
  font-size: 0;
  margin-top: 10rem;
  display: block;
}

.pages-wrapper div {
  color: #fff;
  font-size: 1rem;
  width: 22%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.pages-wrapper div p {
  display: inline-block;
  text-transform: uppercase;
}

.pages-wrapper div p:first-child {
  font-weight: bold;
  font-size: calc(1rem + 0.2rem);
}

.pages-wrapper div p + p {
  font-size: 1rem;
}

.pages-wrapper div + div {
  margin-left: 4%;
}

.pages-wrapper div::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.581);
  position: absolute;
  bottom: 2rem;
}

.pages-wrapper div:hover, .pages-wrapper div[data-id="1"] {
  color: #fff;
}

.pages-wrapper div:hover::before, .pages-wrapper div[data-id="1"]::before {
  background-color: #fff;
}

.pages-wrapper div:hover::after, .pages-wrapper div[data-id="1"]::after {
  content: '';
  content: '';
  display: inline-block;
  width: 100%;
  height: 0.2rem;
  background-color: rgba(255, 255, 255, 0.581);
  position: absolute;
  bottom: 2rem;
  background-color: #f38181;
  width: 30%;
  left: 0;
}

.stories-wrapper > div {
  display: inline-block;
  width: 32%;
  margin-bottom: 1.5rem;
  margin-right: 0.5rem;
  height: 16.8rem;
  position: relative;
  cursor: pointer;
  text-align: center;
  background-color: #95e1d3;
}

.stories-wrapper > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0.7rem;
  bottom: 0.7rem;
}

.stories-wrapper > div > div > p {
  text-transform: uppercase;
  display: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  position: absolute;
  font-size: 1.5rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  z-index: 20;
}

.stories-wrapper > div > div > p::before {
  content: '';
  display: block;
  width: 2.5rem;
  height: 2rem;
  position: absolute;
  top: -2rem;
  left: 40%;
  background-image: url(../images/story/teams.png);
  background-repeat: no-repeat;
}

.stories-wrapper > div > div::after {
  content: '';
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background-image: linear-gradient(#f38181, #fce38a);
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

.stories-wrapper > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0.7rem;
  left: 0.7rem;
  position: absolute;
}

.stories-wrapper > div:hover div p, .stories-wrapper > div[data-id="1"] div p {
  display: block;
}

.stories-wrapper > div:hover div img, .stories-wrapper > div[data-id="1"] div img {
  top: 0;
  left: 0;
}

.stories-wrapper > div:hover div::after, .stories-wrapper > div[data-id="1"] div::after {
  display: block;
}

.facts-row {
  background-color: #95e1d3;
  font-size: 0;
  padding: 3rem;
}

.facts-row .base-column .number-wrapper {
  text-align: center;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  width: calc(calc(100% / 12) * 2.4);
  margin-left: calc(calc(100% / 12) * 0);
  font-size: 0.8rem;
  vertical-align: top;
}

.facts-row .base-column .number-wrapper p {
  text-transform: uppercase;
}

.facts-row .base-column .number-wrapper p:first-child {
  font-size: 4rem;
  font-weight: bold;
}

.services-row .base-column {
  position: relative;
}

.services-row div:nth-child(2) {
  font-size: 0;
}

.services-row div:nth-child(2) div {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  display: inline-block;
  width: calc(calc(100% / 12) * 4);
  margin-left: calc(calc(100% / 12) * 0);
  margin-bottom: 2rem;
  padding: 2rem;
  padding-left: 5rem;
  position: relative;
  vertical-align: top;
  font-size: 0.8rem;
}

.services-row div:nth-child(2) div img {
  position: absolute;
  left: 1rem;
}

.services-row div:nth-child(2) div p:nth-child(2) {
  color: #333;
  text-transform: uppercase;
}

.services-row div:nth-child(2) div p + p {
  font-family: "Roboto", sans-serif;
  color: #999;
  margin-top: 1rem;
}

.services-row .services-wrapper::before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0.05rem;
  background-color: #333;
  position: absolute;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
  bottom: 33%;
}

div.features-row {
  background-image: url(../images/features/lake03.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  overflow: unset;
}

div.features-row .base-column {
  padding-bottom: 0;
}

div.features-row .base-column .section-title + img {
  position: absolute;
  left: 60%;
  top: 52%;
  z-index: 30;
  bottom: 2rem;
}

div.features-row .features-wrapper {
  overflow: hidden;
  height: 575px;
  width: 100%;
  position: relative;
}

div.features-row .features-wrapper img {
  width: calc(calc(100% / 12) * 6);
  margin-left: calc(calc(100% / 12) * 2);
  position: absolute;
  left: 5%;
}

.service2-wrapper {
  width: calc(calc(100% / 12) * 6);
  margin-left: calc(calc(100% / 12) * 6);
  margin-bottom: 8rem;
  position: relative;
}

.service2-wrapper .big-image {
  position: absolute;
  height: 100%;
  width: 100%;
  padding-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.service2-wrapper .title-bar {
  padding: 1rem;
  border: 1px solid #999;
  border-left: none;
  border-right: none;
  cursor: pointer;
  position: relative;
}

.service2-wrapper .title-bar > * {
  display: inline-block;
}

.service2-wrapper .title-bar img {
  width: 2rem;
}

.service2-wrapper .title-bar p {
  vertical-align: top;
  line-height: 2rem;
}

.service2-wrapper .title-bar::after {
  content: '';
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  background-position: center;
  position: absolute;
  background-image: url(../images/service2/ARROW.svg);
}

.service2-wrapper .service .textarea-holder {
  padding: 1rem;
  border: 1px solid #999;
  border-left: none;
  border-right: none;
  margin-bottom: 1rem;
}

.service2-wrapper .service[data-id="0"] .title-bar {
  margin-bottom: 1rem;
}

.service2-wrapper .service[data-id="0"] .title-bar::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.service2-wrapper .service[data-id="0"] img {
  display: none;
}

.service2-wrapper .service[data-id="0"] .textarea-holder {
  display: none;
}

.service2-wrapper textarea {
  resize: none;
  border: none;
  width: 100%;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-bottom: 0.6rem;
}

.service2-wrapper textarea::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
  cursor: pointer;
}

.service2-wrapper textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #95e1d3;
  cursor: pointer;
}

.service2-wrapper textarea:focus {
  outline: 0;
}

.service2-wrapper textarea::after {
  content: '';
  background-color: #999;
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 3rem;
  height: 0.2rem;
}

.qoute-row {
  background-color: #f8f8f8;
  font-size: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.qoute-row .qoute-wrapper {
  width: calc(calc(100% / 12) * 10);
  margin-left: calc(calc(100% / 12) * 1);
  position: relative;
}

.qoute-row .qoute-wrapper > div {
  display: inline-block;
}

.qoute-row .qoute-wrapper > div:first-of-type {
  vertical-align: top;
  width: calc(calc(100% / 12) * 3);
  margin-left: calc(calc(100% / 12) * 0);
}

.qoute-row .qoute-wrapper > div:first-of-type img.icon {
  padding: 3rem;
  border: 0.2rem solid #95e1d3;
}

.qoute-row .qoute-wrapper > div:nth-of-type(2) {
  font-size: 1.5rem;
  color: #999;
  vertical-align: bottom;
  width: calc(calc(100% / 12) * 9);
  margin-left: calc(calc(100% / 12) * 0);
}

.qoute-row .qoute-wrapper > div:nth-of-type(2) p:nth-of-type(1) {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.qoute-row .qoute-wrapper > div:nth-of-type(2) p:nth-of-type(2) {
  color: #333;
  font-family: "Kaushan Script", cursive;
  font-style: normal;
}

.qoute-row .qoute-wrapper > div:nth-of-type(2) p:nth-of-type(2)::before {
  content: '';
  display: inline-block;
  width: 3rem;
  height: 0.15rem;
  background-color: #f38181;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

.qoute-row .qoute-wrapper::before {
  content: '';
  position: absolute;
  left: -4rem;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(270deg);
          transform: translateY(-50%) rotate(270deg);
  background-position: center;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-image: url(../images/service2/ARROW.svg);
  cursor: pointer;
}

.qoute-row .qoute-wrapper::after {
  content: '';
  position: absolute;
  right: -4rem;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
  background-position: center;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-image: url(../images/service2/ARROW.svg);
  cursor: pointer;
}

.teams-wrapper {
  font-size: 0;
  margin-bottom: 7rem;
}

.teams-wrapper .person {
  display: inline-block;
  width: calc(calc(100% / 12) * 3.8);
  margin-left: calc(calc(100% / 12) * 0.2);
  height: 34rem;
  margin-bottom: 1.5rem;
  position: relative;
  text-align: center;
  background-color: #95e1d3;
}

.teams-wrapper .person:nth-of-type(1) {
  margin-left: 0;
}

.teams-wrapper .person .socials {
  display: none;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 50;
  top: 50%;
  left: calc(50% - 0.7rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 0;
}

.teams-wrapper .person .socials .social-link {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: #fce38a;
  padding: 0;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.teams-wrapper .person .socials .social-link svg {
  display: inline-block;
  fill: #f38181;
  -o-object-position: bottom;
     object-position: bottom;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.teams-wrapper .person .socials .social-link:hover, .teams-wrapper .person .socials .social-link[data-id="1"] {
  background-color: #f38181;
}

.teams-wrapper .person .socials .social-link:hover svg, .teams-wrapper .person .socials .social-link[data-id="1"] svg {
  fill: #fff;
}

.teams-wrapper .person .socials .social-link + .social-link {
  border-left: 1px solid #f38181;
}

.teams-wrapper .person .photo-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0.7rem;
  bottom: 0.7rem;
}

.teams-wrapper .person .photo-holder::after {
  content: '';
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background-image: linear-gradient(#f38181, #fce38a);
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
}

.teams-wrapper .person .description {
  position: absolute;
  bottom: -5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.teams-wrapper .person .description p {
  font-size: 1rem;
}

.teams-wrapper .person .description p:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.teams-wrapper .person .description p:nth-of-type(2) {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #999;
}

.teams-wrapper .person img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  top: 0.7rem;
  left: 0.7rem;
  position: absolute;
}

.teams-wrapper .person:hover div img, .teams-wrapper .person[data-id="1"] div img {
  top: 0;
  left: 0;
}

.teams-wrapper .person:hover div::after, .teams-wrapper .person[data-id="1"] div::after {
  display: block;
}

.teams-wrapper .person:hover div.socials, .teams-wrapper .person[data-id="1"] div.socials {
  display: inline-block;
}

.logos-row {
  width: 100%;
  background-color: #f8f8f8;
}

.logos-row .logos-wrapper {
  font-size: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logos-row .logos-wrapper .logo {
  width: calc(calc(100% / 12) * 1.15);
  margin-left: calc(calc(100% / 12) * 1);
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  vertical-align: middle;
  cursor: pointer;
}

.logos-row .logos-wrapper .logo:nth-of-type(1) {
  margin-left: 0;
}

.logos-row .logos-wrapper .logo img {
  width: 80%;
  height: 80%;
}

.logos-row .logos-wrapper .logo:hover {
  border-radius: 10px;
  background-color: #f38181;
}

.logos-row .logos-wrapper .logo:hover img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.work-wrapper {
  width: 1920px;
  margin-left: calc((100% - 1920px) / 2);
  overflow: hidden;
  font-size: 0;
}

.work-wrapper .img-parts {
  display: inline-block;
  width: calc(calc(100% / 12) * 3);
  margin-left: calc(calc(100% / 12) * 0);
}

.work-wrapper .img-parts:nth-of-type(3) .image-holder {
  height: calc(27.8rem * 2);
}

.work-wrapper .img-parts .image-holder {
  display: inline-block;
  width: 100%;
  height: 27.8rem;
  font-size: 0;
  position: relative;
  cursor: pointer;
}

.work-wrapper .img-parts .image-holder .description {
  display: none;
  position: absolute;
  font-size: 1rem;
  color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.work-wrapper .img-parts .image-holder .description p:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1.2rem;
}

.work-wrapper .img-parts .image-holder .description p:nth-of-type(1)::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg version='1.2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 33' width='32' height='33'%3E%3Ctitle%3EPICTURE%3C/title%3E%3Cstyle%3E .s0 %7B fill: %23ffffff %7D %3C/style%3E%3Cpath id='PICTURE' class='s0' d='m31 26c0 0.7-0.4 1.2-1 1.4v1.7c0.6 0.2 1 0.7 1 1.4 0 0.8-0.7 1.5-1.5 1.5-0.7 0-1.2-0.4-1.4-1h-1.7c-0.2 0.6-0.7 1-1.4 1-0.7 0-1.2-0.4-1.4-1h-1.7c-0.2 0.6-0.7 1-1.4 1-0.7 0-1.2-0.4-1.4-1h-1.7c-0.2 0.6-0.7 1-1.4 1-0.7 0-1.2-0.4-1.4-1h-1.7c-0.2 0.6-0.7 1-1.4 1-0.7 0-1.2-0.4-1.4-1h-1.7c-0.2 0.6-0.7 1-1.4 1-0.7 0-1.2-0.4-1.4-1h-1.7c-0.2 0.6-0.7 1-1.4 1-0.8 0-1.5-0.7-1.5-1.5 0-0.7 0.4-1.2 1-1.4v-1.7c-0.6-0.2-1-0.7-1-1.4 0-0.7 0.4-1.2 1-1.4v-1.7c-0.6-0.2-1-0.7-1-1.4 0-0.7 0.4-1.2 1-1.4v-1.7c-0.6-0.2-1-0.7-1-1.4 0-0.7 0.4-1.2 1-1.4v-1.7c-0.6-0.2-1-0.7-1-1.4 0-0.7 0.4-1.2 1-1.4v-1.7c-0.6-0.2-1-0.7-1-1.4 0-0.7 0.4-1.2 1-1.4v-1.7c-0.6-0.2-1-0.7-1-1.4 0-0.8 0.7-1.5 1.5-1.5 0.7 0 1.2 0.4 1.4 1h1.7c0.2-0.6 0.7-1 1.4-1 0.7 0 1.2 0.4 1.4 1h1.7c0.2-0.6 0.7-1 1.4-1 0.7 0 1.2 0.4 1.4 1h1.7c0.2-0.6 0.7-1 1.4-1 0.7 0 1.2 0.4 1.4 1h1.7c0.2-0.6 0.7-1 1.4-1 0.7 0 1.2 0.4 1.4 1h1.7c0.2-0.6 0.7-1 1.4-1 0.7 0 1.2 0.4 1.4 1h1.7c0.2-0.6 0.7-1 1.4-1 0.8 0 1.5 0.7 1.5 1.5 0 0.7-0.4 1.2-1 1.4v1.7c0.6 0.2 1 0.7 1 1.4 0 0.7-0.4 1.2-1 1.4v1.7c0.6 0.2 1 0.7 1 1.4 0 0.7-0.4 1.2-1 1.4v1.7c0.6 0.2 1 0.7 1 1.4 0 0.7-0.4 1.2-1 1.4v1.7c0.6 0.2 1 0.7 1 1.4 0 0.7-0.4 1.2-1 1.4v1.7c0.6 0.2 1 0.7 1 1.4zm-4-20h-22v22h22zm-13 16l7-8.5 4.5 7v6h-19l6-6zm-3-7c-1.7 0-3-1.3-3-3 0-1.7 1.3-3 3-3 1.7 0 3 1.3 3 3 0 1.7-1.3 3-3 3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  margin-bottom: 1rem;
  height: 2.3rem;
  display: inline-block;
}

.work-wrapper .img-parts .image-holder .description p:nth-of-type(2) {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-style: italic;
}

.work-wrapper .img-parts .image-holder::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background-image: linear-gradient(#f38181, #fce38a);
  -webkit-filter: opacity(0.9);
          filter: opacity(0.9);
  display: inline-block;
  display: none;
  position: absolute;
}

.work-wrapper .img-parts .image-holder:hover .description {
  display: inline-block;
}

.work-wrapper .img-parts .image-holder:hover::before {
  display: inline-block;
}

.work-wrapper .img-parts .image-holder img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.work-qoute {
  background-color: #fff;
}

.work-qoute .qoute-wrapper div.image-wrapper {
  width: 15.2rem;
  height: 15.2rem;
  overflow: hidden;
  border-radius: 50%;
}

.work-qoute .qoute-wrapper div.image-wrapper .person {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-qoute .qoute-wrapper div:nth-of-type(2) {
  width: calc(100% - 15.2rem);
  margin-bottom: 3rem;
  padding-left: 2rem;
}

.work-qoute .qoute-wrapper div:nth-of-type(2) p:nth-last-of-type(2) {
  margin-bottom: 1rem;
}

@media (max-width: 1024px) {
  .work-wrapper {
    width: 1440px;
    margin-left: calc((100% - 1440px) / 2);
  }
  .work-wrapper .img-parts .image-holder {
    height: 22rem;
  }
  .work-wrapper .img-parts:nth-of-type(3) .image-holder {
    height: calc(22rem * 2);
  }
  body .work-row div.work-qoute .base-column .qoute-wrapper .image-wrapper {
    width: 15.2rem;
    height: 15.2rem;
  }
  body .work-row div.work-qoute .base-column div:nth-of-type(2) {
    width: calc(100% - 15.2rem);
  }
}

@media (max-width: 768px) {
  .work-wrapper {
    width: 1024px;
    margin-left: calc((100% - 1024px) / 2);
  }
  .work-wrapper .img-parts .image-holder {
    height: 16rem;
  }
  .work-wrapper .img-parts .image-holder .description p:nth-of-type(1) {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .work-wrapper .img-parts .image-holder .description p:nth-of-type(2) {
    font-size: 1rem;
  }
  .work-wrapper .img-parts:nth-of-type(3) .image-holder {
    height: calc(16rem * 2);
  }
  body .work-row div.work-qoute .base-column .qoute-wrapper {
    text-align: center;
  }
  body .work-row div.work-qoute .base-column .qoute-wrapper .image-wrapper {
    width: 15.2rem;
    height: 15.2rem;
    margin-bottom: 1rem;
  }
  body .work-row div.work-qoute .base-column div:nth-of-type(2) {
    width: 100%;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .work-wrapper {
    width: 1024px;
    margin-left: calc((100% - 1024px) / 2);
  }
  .work-wrapper .img-parts .image-holder {
    height: 13rem;
  }
  .work-wrapper .img-parts .image-holder .description p:nth-of-type(1) {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
  }
  .work-wrapper .img-parts .image-holder .description p:nth-of-type(2) {
    font-size: 0.9rem;
  }
  .work-wrapper .img-parts:nth-of-type(3) .image-holder {
    height: calc(13rem * 2);
  }
  body .work-row div.work-qoute .base-column .qoute-wrapper {
    text-align: center;
  }
  body .work-row div.work-qoute .base-column .qoute-wrapper .image-wrapper {
    width: 13rem;
    height: 13rem;
    margin-bottom: 0.7rem;
  }
  body .work-row div.work-qoute .base-column div:nth-of-type(2) {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .work-wrapper {
    width: 500px;
    margin-left: calc((100% - 500px) / 2);
  }
  .work-wrapper .img-parts .image-holder {
    height: 10rem;
  }
  .work-wrapper .img-parts .image-holder .description p:nth-of-type(1) {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .work-wrapper .img-parts .image-holder .description p:nth-of-type(2) {
    font-size: 0.8rem;
  }
  .work-wrapper .img-parts:nth-of-type(3) .image-holder {
    height: calc(10rem * 2);
  }
  body .work-row div.work-qoute .base-column .qoute-wrapper {
    text-align: center;
  }
  body .work-row div.work-qoute .base-column .qoute-wrapper .image-wrapper {
    width: 13rem;
    height: 13rem;
    margin-bottom: 0.7rem;
  }
  body .work-row div.work-qoute .base-column div:nth-of-type(2) {
    width: 100%;
  }
}

.people-row {
  position: relative;
}

.people-row .people-wrapper {
  display: inline-block;
  font-size: 0;
}

.person-holder {
  width: calc(calc(100% / 12) * 6);
  margin-left: calc(calc(100% / 12) * 0);
  display: inline-block;
}

.person-holder .face {
  display: inline-block;
  width: 7.8rem;
  height: 7.8rem;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: top;
  position: relative;
}

.person-holder .face img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

.person-holder:nth-of-type(1) img {
  left: -1rem;
}

.person-holder:nth-of-type(2) img {
  top: -1rem;
}

s .person-holder:nth-of-type(3) img {
  left: -1rem;
}

.person-holder:nth-of-type(4) img {
  left: -0.5rem;
  top: -0.5rem;
}

.person-holder .info {
  display: inline-block;
  width: calc(100% - 7.8rem);
  padding-left: 2.2rem;
  padding-right: 2rem;
}

.person-holder .info p {
  margin-bottom: 1rem;
}

.person-holder .info .name {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 1rem;
}

.person-holder .info .position {
  font-size: 1.07rem;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-bottom: 1.7rem;
}

.person-holder .info .position::after {
  content: '';
  display: block;
  height: 0.2rem;
  width: 4rem;
  background-color: #f38181;
  margin-top: 1.5rem;
}

.person-holder .info .description {
  font-size: 1.07rem;
  font-family: "Roboto", sans-serif;
  color: #999;
}

.people-background {
  width: 100%;
  height: 1000px;
  background-image: url(../images/people/Layer53.jpg);
  background-size: cover;
  position: absolute;
  -webkit-filter: opacity(0.2);
          filter: opacity(0.2);
  top: 0;
  z-index: -1;
}

html {
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */